@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: hsl(217, 100%, 97%);
}

.mainStyle {
  @apply flex flex-col min-w-full min-h-screen items-center md:justify-center;
}

.sectionStyle {
  @apply flex justify-center md:items-center flex-[3] w-full h-fit md:h-[39rem];
}

.formStyle {
  @apply w-[90%] h-fit md:h-[39rem] bg-white rounded-lg border-2 border-white mt-9 lg:mt-0 relative md:flex flex-row shadow-2xl p-3;
}

.personalInputStyle {
  @apply border rounded p-2 font-Ubuntu-500 text-[rgb(1,41,91)];
}

@font-face {
  font-family: "Ubuntu";
  src: url(../assets/fonts/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: "Ubuntu-500";
  src: url(../assets/fonts/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: "Ubuntu-700";
  src: url(../assets/fonts/Ubuntu-Bold.ttf);
}

/* Remove arrow for number input */
.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.remove-arrow {
  -moz-appearance: textfield;
}
